<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>WEBCMS内容管理系统</webname>
  <webcompany>公司名称</webcompany>
  <weburl>http://www.lawyer88.net</weburl>
  <webtel>13723707989</webtel>
  <webfax>-</webfax>
  <webmail>sichina@163.com</webmail>
  <webcrod>粤ICP备号</webcrod>
  <webtitle>WEBCMS网站管理系统</webtitle>
  <webkeyword>-</webkeyword>
  <webdescription>-</webdescription>
  <webcopyright>版权所有 sichina © Copyright 2009 - 2012. sichina@163.com. All Rights Reserved.</webcopyright>
  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode>&lt;script src="#" language="JavaScript"&gt;&lt;/script&gt;</webcountcode>
  <staticstatus>1</staticstatus>
  <staticextension>html</staticextension>
  <memberstatus>1</memberstatus>
  <commentstatus>1</commentstatus>
  <logstatus>1</logstatus>
  <emailstmp>smtp.163.com</emailstmp>
  <emailport>25</emailport>
  <emailfrom>sichina@163.com</emailfrom>
  <emailusername>sichina@163.com</emailusername>
  <emailpassword>test</emailpassword>
  <emailnickname>邮件测试</emailnickname>
  <attachpath>upload</attachpath>
  <attachextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt</attachextension>
  <attachsave>2</attachsave>
  <attachfilesize>51200</attachfilesize>
  <attachimgsize>10240</attachimgsize>
  <attachimgmaxheight>700</attachimgmaxheight>
  <attachimgmaxwidth>700</attachimgmaxwidth>
  <thumbnailheight>196</thumbnailheight>
  <thumbnailwidth>196</thumbnailwidth>
  <watermarktype>2</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>WEBCMS</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <templateskin>default</templateskin>
  <sysdatabaseprefix>dt_</sysdatabaseprefix>
  <sysencryptstring>sichina</sysencryptstring>
</siteconfig>