<?xml version="1.0" encoding="utf-8"?>
<urls>
  <rewrite name="index" path="index.aspx" pattern="index.aspx$" page="index.aspx" querystring="" templet="index.html" channel="0" type="index" inherit="DTcms.Web.UI.Page.index" />
  <rewrite name="search" path="search.aspx" pattern="search.aspx" page="search.aspx" querystring="" templet="search.html" channel="0" type="no" inherit="DTcms.Web.UI.Page.search" />
  <rewrite name="error" path="error.aspx" pattern="error.aspx" page="error.aspx" querystring="" templet="error.html" channel="0" type="no" inherit="DTcms.Web.UI.Page.error" />
  <rewrite name="feedback" path="feedback.aspx" pattern="feedback.aspx$" page="feedback.aspx" querystring="" templet="feedback.html" channel="0" type="" inherit="DTcms.Web.Plugin.Feedback.feedback" />
  <rewrite name="feedback1" path="feedback/{0}.aspx" pattern="feedback/(\w+).aspx$" page="feedback.aspx" querystring="page=$1" templet="feedback.html" channel="0" type="" inherit="DTcms.Web.Plugin.Feedback.feedback" />
  <rewrite name="link" path="link.aspx" pattern="link.aspx$" page="link.aspx" querystring="" templet="link.html" channel="0" type="" inherit="DTcms.Web.Plugin.Link.link" />
  <rewrite name="article_list" path="article/list.aspx" pattern="article/list.aspx$" page="article_list.aspx" querystring="" templet="article_list.html" channel="1" type="list" inherit="DTcms.Web.UI.Page.article_list" />
  <rewrite name="article_list1" path="article/{0}/{1}.aspx" pattern="article/(\d+)*/(\w+).aspx$" page="article_list.aspx" querystring="category_id=$1^page=$2" templet="article_list.html" channel="1" type="list" inherit="DTcms.Web.UI.Page.article_list" />
  <rewrite name="article_show" path="article/show/{0}.aspx" pattern="article/show/(\d+).aspx$" page="article_show.aspx" querystring="id=$1" templet="article_show.html" channel="1" type="detail" inherit="DTcms.Web.UI.Page.article_show" />
  <rewrite name="photo_list" path="photo/list.aspx" pattern="photo/list.aspx$" page="photo_list.aspx" querystring="" templet="photo_list.html" channel="2" type="list" inherit="DTcms.Web.UI.Page.photo_list" />
  <rewrite name="photo_list1" path="photo/{0}/{1}.aspx" pattern="photo/(\d+)*/(\w+).aspx$" page="photo_list.aspx" querystring="category_id=$1^page=$2" templet="photo_list.html" channel="2" type="list" inherit="DTcms.Web.UI.Page.photo_list" />
  <rewrite name="photo_show" path="photo/show/{0}.aspx" pattern="photo/show/(\d+).aspx$" page="photo_show.aspx" querystring="id=$1" templet="photo_show.html" channel="2" type="detail" inherit="DTcms.Web.UI.Page.photo_show" />
  <rewrite name="goods_list" path="goods/list.aspx" pattern="goods/list.aspx$" page="goods_list.aspx" querystring="" templet="goods_list.html" channel="5" type="list" inherit="DTcms.Web.UI.Page.photo_list" />
  <rewrite name="goods_list1" path="goods/{0}/{1}.aspx" pattern="goods/(\d+)*/(\w+).aspx$" page="goods_list.aspx" querystring="category_id=$1^page=$2" templet="goods_list.html" channel="5" type="list" inherit="DTcms.Web.UI.Page.photo_list" />
  <rewrite name="goods_show" path="goods/show/{0}.aspx" pattern="goods/show/(\d+).aspx$" page="goods_show.aspx" querystring="id=$1" templet="goods_show.html" channel="5" type="detail" inherit="DTcms.Web.UI.Page.photo_show" />
  <rewrite name="content" path="content/{0}.aspx" pattern="content/(\w+).aspx$" page="content_show.aspx" querystring="page=$1" templet="content.html" channel="4" type="detail" inherit="DTcms.Web.UI.Page.content_show" />
  <rewrite name="content_show" path="content/show/{0}.aspx" pattern="content/show/(\d+).aspx$" page="content_show.aspx" querystring="id=$1" templet="content_show.html" channel="4" type="detail" inherit="DTcms.Web.UI.Page.content_show" />
  <rewrite name="down_list" path="down/list.aspx" pattern="down/list.aspx$" page="down_list.aspx" querystring="" templet="down_list.html" channel="3" type="list" inherit="DTcms.Web.UI.Page.download_list" />
  <rewrite name="down_list1" path="down/{0}/{1}.aspx" pattern="down/(\d+)*/(\w+).aspx$" page="down_list.aspx" querystring="category_id=$1^page=$2" templet="down_list.html" channel="3" type="list" inherit="DTcms.Web.UI.Page.download_list" />
  <rewrite name="down_show" path="down/show/{0}.aspx" pattern="down/show/(\d+).aspx$" page="down_show.aspx" querystring="id=$1" templet="down_show.html" channel="3" type="detail" inherit="DTcms.Web.UI.Page.download_show" />
</urls>